<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.1" targetFramework="net452" />
  <package id="AutoMapper" version="5.1.1" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="NPoco" version="3.4.4" targetFramework="net452" />
  <package id="NPOI" version="2.2.1" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
</packages>