@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="bread">
    <div class="dh">
        当前位置：<a href="http://qd.ygjj.com/">首页</a> &gt; 家教学堂
    </div>
    <div class="fx">
        <!-- Baidu Button BEGIN -->
        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1478161250316">
            <a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina">
            </a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a><a class="bds_count" data-cmd="count" title="累计分享0次">0</a>
        </div>
        <script type="text/javascript">    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
        <!-- Baidu Button END -->
    </div>
</div>
<div class="wenan">
    <div class="wa_lefts">
        <div class="wa_list">
            <div class="lstit">
                <div class="tit">
                    <span>
                        教员信息
                    </span>
                </div>
            </div>
            <div class="clear10">
                &nbsp;
            </div>
            <div class="lstcon">
                <div class="con">
                    <div class="wa_title">
                        <h1>
                            <font color="#ff0000">阳光家教网教员须知 [教员必读]</font>
                        </h1><font color="#ff0000">
                        </font>
                    </div><font color="#ff0000">
                        <div class="wa_info">
                            <span class="f1"></span><span class="f1">来源于：</span><span class="f1">浏览次数：60194次</span>
                        </div>
                        <div id="txt" class="wa_des">
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:maroon;">一、必读条款</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:12pt;font-family:宋体;color:black;">为了推行“优质化、品牌化、</span><span style="font-size:12pt;font-family:宋体;">制度化、<span style="color:black;">至诚服务”的宗旨，不断地发展和提高阳光家教网的服务质量，请教员务必在接</span>家教<span style="color:black;">前仔细阅读</span>此文<span style="color:black;">，并提出合理的建议和意见，在此表示衷心的感谢！</span></span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:12pt;font-family:宋体;color:black;">
                                    <br>
                                </span><b><span style="font-size:9pt;font-family:宋体;">第一条、<span style="color:black;">作为阳光家教网的教员，须全力维护</span>本<span style="color:black;">中心的声誉，认真对待每一份阳光推荐的家教工作。严禁任何有损阳光形象的行为。</span></span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>遵守国家法律和公众道德以及阳光家教网各项规章制度。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>做到为人师表，诚实守信，以提高学员水平为己任。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>理解并支持阳光家教网的各项规定。<span>&nbsp;</span></span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"="">&nbsp; </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第二条、教员在接家教之前需要在阳光家教网站进行免费注册，并及时将自己的证件照片上传。 </span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>如实并完整地填写简历中的各项注册资料。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>注册完成后上传所需证件和能力证书或奖状。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>所需证件，大学生教员：身份证和学生证；专职老师：身份证、毕业证、教师资格证、工作证（合同）；其他教员：身份证和毕业证。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>通过审核认证的教员在个人简历上认证图标会点亮。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:" tahoma","sans-serif";"="">&nbsp;</span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第三条、注册完成后教员可以通过关注我们微信公众号申请优先审核、查阅最新订单并通过公众号预约等。</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>扫一扫关注微信公众号<span>ygjjcom</span></span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>向公众号发送“城市<span>+</span>注册手机号”可以申请优先审核简历</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span></span><span style="font-size:9pt;font-family:宋体;color:black;">通过公众号的菜单“最新学员需求”即可查看最近家教信息</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>向公众号发送“工号<span>xxx</span>”可以直接对话指定客服</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第四条、通过审核的教员可以在线预约家教，我们的工作人员会在第一时间看到您的预约单，并根据您简历上的情况向学员择优推荐。 </span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>登录到网站在学员库中查看合适的订单，务必请您在预约之前仔细考虑该家教的各项信息是否符合您的个人标准，比如：性别、身份、区域、时间等要求。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>我们会优先推荐认证教员和家长反馈良好的教员。首次接单的教员可以在个人中心中的预付金中充值（≥<span>100</span>元，预付金可以抵用信息服务费），客服也会优先考虑接家教意向高的教员。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>为确保能快速接到适合您的家教，请尽可能完善您的简历，突出特长及经历。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>首次见面时可以向学员出示身份证件（或其他有效证件）及各类证书。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第五条、请每位教员慎重对待每份家教，积极配合客服并及时办理相关手续。 </span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>在向学员推荐成功后及时缴纳家教信息服务费（信息费），支付后即可获取学员联系方式。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>若原本确定接手的家教由于种种原因不能接了，请一定在<span>12</span>小时之内通知我们，以免由于失约造成教员在阳光家教网留下不良记录，为以后接家教带来不便。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>教员有义务在支付信息费的同时为家长垫付会员费。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>每份家教倘若学员有需要，教员有义务为学员提供不超过<span>1</span>小时的试课时间。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第六条、获取到家教信息后请及时与学员取得联系，确定首次上课时间<span>,</span>充分了解学员情况<span>,</span>以便为学员做针对性的备课。 </span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>教员接到家教工作后，应及时与学员联系，按时上门家教。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>尊重学员和学员家长，与学员学习有关的一些要求可以和学员或学员家长主动沟通。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>有自己的教学方法，因材施教，因势利导。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>未经学员和阳光家教网同意，不可随意转让家教工作或单方面中断家教工作，否则后果自负。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑤<span>&nbsp;&nbsp; </span>通常情况下，若学员有需要，教员有义务为学员推荐选择优秀的教材，但并没有为学员支付教材费用的义务，支付教材费用是学员的义务。所以，若学员要求教员为其选择或者购买教材的时候，教员应当事先告知对方教学双方各自的权利和义务，以免发生纠纷。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑥<span>&nbsp;&nbsp;&nbsp;</span>如遇到一些比较棘手的问题可以及时反馈给我们，以求得到我们的指导，共同解决遇到的问题。绝对不要盲目从事，以避免不必要的麻烦或损失。 <span></span></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:maroon;">二、资费标准及相关说明 </span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:" tahoma","sans-serif";"="">&nbsp;</span>
                            </p>
                            <p style="text-align:left;text-indent:-38.25pt;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;"><span>第一条、<span> </span></span></span></b><b><span style="font-size:9pt;font-family:宋体;">阳光家教网对教员的收费项目有哪些？</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> <span></span></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>信息服务费（信息费）<span>:</span>是指阳光家教网为教员提供一份合适的家教信息时，该教员应支付给我们的服务费用。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> <span></span></span>
                            </p>
                            <p style="text-align:left;text-indent:27pt;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">阳光家教网为教员每提供一份合适的家教信息时，教员必须一次性支付给我们一份信息服务费。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;text-indent:-54pt;" align="left">
                                <span style="font-size:9pt;font-family:" tahoma","sans-serif";"="">&nbsp;</span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第二条、信息服务费的收费标准</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>长期家教：根据一周的上课次数，如果一周上课次数≤<span>3</span>次，收取一次课时费作为信息费；如果一周上课次数≥<span>4</span>次，收取两次课时费作为信息费。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp;&nbsp;</span>包月或短期家教：一般收取<span>10%</span>月薪作为信息费。（信息费不少于<span>50</span>元）</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第三条、信息服务费何时支付？如何支付？</span></b><span style="font-size:9pt;font-family:宋体;color:black;"> </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;text-indent:21pt;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">信息服务费（信息费）一般在阳光家教网的工作人员告知已经向学员推荐成功后支付，工作人员会优先推荐有预付金的教员。有以下几种支付信息服务费的方式：</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>阳光家教网的账户中有预付金的教员，可以登录网站在个人中心的待支付订单中直接用预付金抵扣。预付金金额不够的可以通过网银支付。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp;&nbsp;</span>账户中没有预付金的教员但有支付宝或网银的，可以直接登录网站在个人中心的待支付订单中在线支付。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp;&nbsp;</span>账户中没有预付金也没有网银的教员，可以向阳光家教网指定银行账号汇款</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span><span style="font-size:9pt;font-family:宋体;">。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第四条、认证教员有什么优势？</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>具有优先接单的优势，阳光家教网优先选择推荐认证教员。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>认证教员资历经阳光家教网认可属实后，网站会增加认证教员识别标记<span>, </span>增加教员资历的可信度。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:" tahoma","sans-serif";"="">&nbsp; </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第五条、如何办理教员认证手续 </span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>将证件用数码相机拍摄、摄像头截图或扫描，以电子版形式在</span><u><span style="font-size:9pt;font-family:宋体;color:red;"><a href="http://www.ygjj.com/Teacher/CardManage.aspx"><span style="color:red;"><span>证件管理</span></span></a></span></u><span style="font-size:9pt;font-family:宋体;color:black;">中上传</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>将证件图片发送至微信公众号<span>ygjjcom</span>人工办理教员认证手续</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">第六条、教员执教的报酬如何获得？标准如何？</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">&nbsp;&nbsp;</span></b><span style="font-size:9pt;font-family:宋体;color:black;">以教学双方约定的支付方式为准，阳光家教网对此不做明确的规定。通常的方式有三种：</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>每次授课完毕立即支付 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>每周支付一次 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>每月支付一次 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">注意：教员不得要求提前支付。阳光家教网亦有一份详细的、根据市场行情确定的各类课程的默认报酬标准，供教学双方参考<span>, </span>实际过程中存在较小的浮动。在教学双方都认同的情况下，可以更改授课报酬。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:maroon;">三、快速有效接家教的技巧</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">接家教前期</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>仔细阅读阳光家教网教员须知守则，并承诺严格执行阳光家教网各项规章制度。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> <span></span></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>注册成为阳光家教网的教员，如实填写个人信息，详尽描述自己的家教经历及特长，特别是要填写正确的联系方式，以便能在第一时间接收到推荐给您的家教短信、电话或微信。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>个人身份和详细资料如有变动，请及时致电阳光家教网或通过微信公众号修改资料，以保持个人资料的不断更新。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>成功注册后，经常登陆网站在学员库中查看最新的订单信息，一旦看到适合自己的订单就立即在线预约。经常登录网站能保证您的简历资料排在网站教员列表靠前的位置，这样学员和我们的工作人员都能优先检索到您的资料。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑤<span>&nbsp;&nbsp; </span>接到一条家教短信时，请通过微信公众号找短信后缀的客服工号，只需要向公众号发送“工号<span>xxx</span>”即可连接指定客服，必须确定订单的时间、区域、学员情况和课时费是否符合自己。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑥<span>&nbsp;&nbsp; </span>工作人员会在所有预约的教员中择优向学员推荐，学员认可之后我们会通过微信公众号或电话的方式通知教员支付信息服务费（信息费）。注意：教员预约成功后，办理手续不要拖沓，否则有可能会错失良机。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑦</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"="">&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:9pt;font-family:宋体;color:black;">
                                    若
                                    教员不能及时支付信息服务费（信息费），应当知会我们工作人员并告知最迟付款时间。若因为种种原因无法接此订单应当通知我们工作人员，以便我们工作人员能
                                    及时为学员推荐其他教员。如果发生教员没有及时通知或我们工作人员一直无法联系上教员的情况，我们视为教员主动放弃，如果给阳光家教网造成了不良影响，那
                                    么教员也会有不良记录。
                                </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:" tahoma","sans-serif";"="">&nbsp;</span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">接家教中期</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>在接家教过程中可能学员会要求先和教员沟通下，我们工作人员会进行三方通话，通话时教员应注意不能透露个人信息包括联系方式和具体住址。自荐时应充满自信<span>,</span>展示自己特长、列举一些成功的家教经验，争取良好的第一印象。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>教员若对于订单中的上课时间安排和课时费有异议的可以和我们工作人员说，我们工作人员可以和学员进行协商。确定下来的时间和费用是不能更改的。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">
                                    ③<span>&nbsp;&nbsp; </span>一
                                    旦我们工作人员告知教员已经推荐成功，教员应尽快完成支付信息服务费（信息费）。教员可以通过登录网站在个人中心的待支付订单中用网银支付，支付后可以直
                                    接获取到学员的联系方式；没有网银的教员也可以通过银行转账的形式支付，支付后需要联系我们工作人员获取学员的联系方式。
                                </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"="">&nbsp;&nbsp;</span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">接家教后期</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>教员支付了信息服务费（信息费）后即可获取到学员的联系方式，一定要尽快（<span>2h</span>内）电话联系学员。确定好首次上课时间和具体的授课地址。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>首次上课前应先查好路线，计算好路程，其次应对应学员的具体学习情况针对性地备课。以确保第一次上课给学员家长留下良好的印象。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>如果我们工作人员告知教员有试课，那么教员应提供≤<span>30</span>分钟的试讲。若学员对教员的教学水平感到满意，则继续上满原定课时，最后学员向教员支付课时费；一般我们工作人员在推荐过程中就会帮教员争取试课报酬，若学员对教员的教学水平不满意，学员会支付试课的费用。如果教员有替学员垫付会员费，一定要要求学员支付<span>,</span>这点请教员务必注意<span>,</span>以维护自己正当的权益。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">
                                    ④<span>&nbsp;&nbsp; </span>在
                                    家教过程中教员应提高自身安全意识，为自身安全负责！尤其是女教员晚间前去执教更应当提高警惕，一般可在前几次执教时由好友陪同前去，以防万一。为保障教
                                    员的基本安全，如果我们所给的具体地址与实际授课地址不符，务必要及时跟我们联络反映。若教员觉得有必要在第一次家教约定时间前去探路，请事先征得学员方
                                    同意后再进行。凡由教员个人不妥行为导致家教失败，阳光家教网一律不予负责，严重者可能追究教员方责任。
                                </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑤<span>&nbsp;&nbsp; </span>免责声明：阳光家教网仅负责提供家教信息，不承担家教信息以外的其它责任。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp; </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:maroon;">四<span>.</span></span></b><span style="font-size:12pt;font-family:宋体;color:maroon;"> </span><b><span style="font-size:12pt;font-family:宋体;color:maroon;">关于退款</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">符合全额退款的详细说明</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp;&nbsp;</span>教员索回预付金中尚有的余额。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>取得学员联系方式后连续三天都未能联系成功的。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>取得学员联系方式后，学员因故称暂时不能决定是否需要教员前来上课，或学员一直推迟上课时间<span>,</span>经阳光家教网核实后可全退。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>第一次面试试讲的时间内<span>(</span>本网规定<span>30</span>分钟<span>)</span>学员觉得教员资力不够。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑤<span>&nbsp;&nbsp; </span>学员擅自变更原有授课约定，而教员又无法接受并且一次课都未上。（授课约定一般包括以下内容：授课报酬、授课科目、授课时间、授课对象、授课地点） </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">符合部分退款的详细说明</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>长期的家教，因为学员方面的原因造成家教中断的，根据收取课时费的多少及上课次数退款。收取一次课时费作为信息服务费的，上了一次课退还<span>50</span>％信息服务费；收取两次课时费作为信息服务费的，上了一次课退还<span>75%</span>信息服务费，上了两次课退还<span>50</span>％信息服务费，上了三次课退还<span>25</span>％信息服务费。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>对于包月制家教，正式授课<span>5</span>天范围内，由于学员方面的原因造成执教中断或者无法继续执教，退还<span>50</span>％信息服务费。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp;&nbsp;</span>经阳光家教网核实认可的其他特殊情况可以酌情退款。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">不予退款的详细说明</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>教员在约定的第一次面试试讲未去或迟到一个小时以上。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>教员取得学员联系方式后<span>24</span>小时内未主动联系学员。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>教员擅自变更授课约定，而学员又无法接受（授课约定一般包括下内容：授课报酬、是否有车贴、授课时间、授课地点等）。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>长期家教，收取一次课时费作为信息服务费的，上了两次及以上课；收取两次课时费作为信息服务费的，上了四次及以上课。包月制家教正式授课<span>5</span>天及以上。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑤<span>&nbsp;&nbsp; </span>教员在执教过程中因为自身原因遭到学员投诉（自身原因一般包括以下内容<span>:</span>上课经常迟到<span>;</span>上课不负责任<span>,</span>如常使用手机耽误上课时间的等）。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑥<span>&nbsp;&nbsp;&nbsp;</span>教员在教学过程中擅自放弃执教或者转让他人执教。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑦<span>&nbsp;&nbsp;&nbsp;</span>任何违背道德或损害阳光家教网信誉的其他行为。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">退款处理时间详细说明</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>处理时间：对于教员提出的退款理由，阳光家教网需要经过核实后才能按照相应的退款条例退款，核实时间为一周。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> <span></span></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp;&nbsp;</span>退款时间：阳光家教网退款统一于每周二和周五下午进行。凡是经阳光家教网核实符合退款条例的教员，请主动提供本人银行（支付宝<span>/</span>工行<span>/</span>农行<span>/</span>建行）帐号和户名，在线支付的原路退，无需提供账号。阳光家教网将在约定的时间内将款项退到银行帐户中，请于次日查收。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> <span></span></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:maroon;">五<span>.</span></span></b><span style="font-size:12pt;font-family:宋体;color:maroon;"> </span><b><span style="font-size:12pt;font-family:宋体;color:maroon;">家教记录</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">什么是家教记录 </span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">“家教记录”是指教员在阳光家教网所执教的每一份家教的简要记录，包括成功的家教记录和失败的家教记录。记录是系统设定，无法删除，失败率高的教员无法在线预约订单，希望所有教员认真严谨对待每一份家教工作。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">家教记录在网站上的显示 </span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">
                                    所有成功的家教记录都将在网站上
                                    教员简历中的“家教记录”栏目内显示出来，而失败记录则根据不同的情况选择性的公布。显示失败家教记录的一般原则是：由于教员自身原因造成的失败记录必定
                                    在网站上显示；由于其他原因造成的失败记录则根据具体情况由阳光家教网决定是否在网站上显示。具体包括：
                                </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>学员对教员的教学水平、教学方式、个人信誉、言谈举止等不满意导致的失败。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>教员擅自改变原定家教条件（如报酬、车贴、时间、地点等）导致的失败。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>教员取得学员联系方式后<span>24</span>小时内未主动联系或者上课不守时导致的失败。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>教学中途随意转让家教工作或单方面中断家教工作导致的失败。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑤<span>&nbsp;&nbsp; </span>其他阳光家教网认为有必要在网站上显示的失败记录。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">教员评价</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">什么是教员评价</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">
                                    “教员评价”是指阳光家教网在与
                                    教员的实际接触中对教员作出的实际评价，分为主观评价和客观评价两种。主观评价是由工作人员和教员交流中根据教员的言谈举止、脾气性格、学术水平、教学经
                                    验等方面的综合素质作出的，不需要提供客观依据。客观评价是根据教员与阳光家教网接触过程中或者教员与学员接触的过程中发生的各种客观事件作出的评价，需
                                    要提供客观的事实依据。客观评价主要包含三方面的评价：
                                </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>教员的信誉评价</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>教员的教学质量评价</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>阳光家教网对学员进行回访时，学员对教员作出的评价</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:black;">&nbsp;</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span><span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:#993300;">不良评价的产生</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">①<span>&nbsp;&nbsp; </span>不讲信誉的行为，比如：不遵守约定时间、接下订单后又反悔等。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">②<span>&nbsp;&nbsp; </span>擅自改变约定的授课条件（报酬、车贴、时间等）或者遭到学员投诉。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">③<span>&nbsp;&nbsp; </span>高估自己的教学水平，结果面试试讲被学员否决。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">④<span>&nbsp;&nbsp; </span>填写或修改教员资料时，在“联系方式”栏目以外的地方留下联系方式。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑤<span>&nbsp;&nbsp; </span>在注册资料里面填写不真实的信息。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">⑥<span>&nbsp;&nbsp; </span>其他有损阳光家教网形象或声誉的行为。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">&nbsp;</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:12pt;font-family:宋体;color:maroon;">六<span>.</span></span></b><span style="font-size:12pt;font-family:宋体;color:maroon;"> </span><b><span style="font-size:12pt;font-family:宋体;color:maroon;">教员常见问题</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span><b><span style="font-size:12pt;font-family:宋体;color:maroon;">Q&amp;A</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">1</span></b><b><span style="font-size:9pt;font-family:宋体;">、我可以修改注册信息吗？</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;text-indent:21pt;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">当然可以，但是只允许修改联系方式和家教信息，不允许修改基本信息，您若要修改基本信息，请上传相关证件，由工作人员审核后为您修改；您也可以通过微信公众号<span>ygjjcom</span>上传证件，我们工作人员会帮您提交审核部门。</span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">2</span></b><b><span style="font-size:9pt;font-family:宋体;">、为什么修改完资料后不能立即生效？</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;text-indent:21pt;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">
                                    阳光家教网对教员填写或修改的任
                                    何资料都会进行严格的人工审核，只有通过审核的资料才能生效，也才能在网站上显示出来，一般来说审核工作将在两个工作日内完成，所以您修改资料后再重新看
                                    自己资料是不会立即生效的。为了不耽误您接家教，请您注册时尽量完善好您的简历，不要一直更改简历。若作了修改又没有审核通过但想预约订单，您可以通过微
                                    信公众号<span>ygjjcom</span>发送看中的订单编号。
                                </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">3</span></b><b><span style="font-size:9pt;font-family:宋体;">、我不想让别人看到我的资料，可以吗？</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;text-indent:21pt;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">
                                    完全可以！您只要用自己的用户名
                                    和密码登陆，即可进入“个人中心”，在
                                    “简历模式”中选择“不公开简历”即可，这样浏览网站的任何人就都无法看到您的资料了。请注意，您若选择了不公开自己的资料，固然可以保护您自己的隐私，
                                    使得别人无法看到您的资料，但是同时也失去了得到学员预约的机会，一般推荐时学员都会要求查看教员简历，所以是否隐藏自己的资料请仔细考虑斟酌后再作决
                                    定。
                                </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">4</span></b><b><span style="font-size:9pt;font-family:宋体;">、如何查看我的预存费用？</span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""> </span>
                            </p>
                            <p style="text-align:left;text-indent:21pt;" align="left">
                                <span style="font-size:9pt;font-family:宋体;color:black;">您只要用自己的用户名和密码登陆，即可进入“个人中心”，点击“充值管理”就可以查看您在阳光家教网的预存费用使用详情了。 </span><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <p style="text-align:left;" align="left">
                                <b><span style="font-size:9pt;font-family:宋体;">5</span></b><b><span style="font-size:9pt;font-family:宋体;">、我遗忘了登陆名和登陆密码怎么办？ </span></b><span style="font-size:9pt;font-family:" tahoma","sans-serif";"=""></span>
                            </p>
                            <span style="font-size:10.5pt;font-family:宋体;color:black;">您可以通过微信公众号<span>ygjjcom</span>发送“查询用户名和密码”并提供注册的手机号码。</span>
                            <p align="center">
                                <img style="height:266px;width:311px;" alt="" src="_TeacherNotice_files/20161018175511_6256.jpg" data-bd-imgshare-binded="1" height="426" width="449">
                            </p>
                            <p>
                                &nbsp;
                            </p>
                        </div>
                        <div class="wa_zan" style="display: block">
                            <div id="UpdatePanel1">

                                <a id="btnGood" class="btn" href="javascript:__doPostBack('btnGood','')"><font>44858</font></a>
                                <a id="btnBad" class="btn btn2" href="javascript:__doPostBack('btnBad','')"><font>106</font></a>

                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <div class="clear20">
                        </div>
                        <div class="wa_prevnext">
                            <table width="100%" cellspacing="1" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <th>
                                            上一篇
                                        </th>
                                        <td>
                                            <a href="http://qd.ygjj.com/D398.html" class="link2">如何快速成为认证教员？   <font color="#ff0000">[教员必读]</font></a><font color="#ff0000">
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            下一篇
                                        </th>
                                        <td>
                                            <a href="http://qd.ygjj.com/D4079.html" class="link2">简历审核失败的原因</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clear20">
                        </div>
                    </font>
                </div><font color="#ff0000">
                </font>
            </div><font color="#ff0000">
            </font>
        </div><font color="#ff0000">
        </font>
    </div>
    <font color="#ff0000">
        <div class="wa_rights">
            <div class="qtxgjjBox">
                <div class="tit">
                    您可能感兴趣的教员
                </div>
                <div class="content3">

                    <ul>
                        <li class="c1">
                            <a href="http://qd.ygjj.com/T554312.html" target="_blank">
                                <img src="_TeacherNotice_files/head554312-20161007184408699231.JPG" data-bd-imgshare-binded="1" width="74" border="0">
                            </a>
                        </li>
                        <li class="c2">
                            <a href="http://qd.ygjj.com/T554312.html" target="_blank">
                                华教员（男）<span class="col2">18052</span>
                            </a>
                            <p>
                                青岛理工大学
                                <br> <span class="cf60">在校大二学生</span>
                            </p>
                        </li>
                    </ul>
                    <div class="clear10">
                    </div>

                    <ul>
                        <li class="c1">
                            <a href="http://qd.ygjj.com/T545247.html" target="_blank">
                                <img src="_TeacherNotice_files/head545247-20160608231240377473.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                            </a>
                        </li>
                        <li class="c2">
                            <a href="http://qd.ygjj.com/T545247.html" target="_blank">
                                王教员（男）<span class="col2">17976</span>
                            </a>
                            <p>
                                青岛大学
                                <br> <span class="cf60">律师</span>
                            </p>
                        </li>
                    </ul>
                    <div class="clear10">
                    </div>

                    <ul>
                        <li class="c1">
                            <a href="http://qd.ygjj.com/T549607.html" target="_blank">
                                <img src="_TeacherNotice_files/tx_1.jpg" data-bd-imgshare-binded="1" border="0">
                            </a>
                        </li>
                        <li class="c2">
                            <a href="http://qd.ygjj.com/T549607.html" target="_blank">
                                董教员（女）<span class="col2">18012</span>
                            </a>
                            <p>
                                青岛农业大学
                                <br> <span class="cf60">在校大一学生</span>
                            </p>
                        </li>
                    </ul>
                    <div class="clear10">
                    </div>

                    <ul>
                        <li class="c1">
                            <a href="http://qd.ygjj.com/T546662.html" target="_blank">
                                <img src="_TeacherNotice_files/head546662-20160628175941635513.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                            </a>
                        </li>
                        <li class="c2">
                            <a href="http://qd.ygjj.com/T546662.html" target="_blank">
                                阎教员（女）<span class="col2">17986</span>
                            </a>
                            <p>
                                上海师范大学
                                <br> <span class="cf60">在校大三学生</span>
                            </p>
                        </li>
                    </ul>
                    <div class="clear10">
                    </div>
                    <ul>
                        <li class="c1">
                            <a href="http://qd.ygjj.com/T549361.html" target="_blank">
                                <img src="_TeacherNotice_files/head549361-20160720212235922319.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                            </a>
                        </li>
                        <li class="c2">
                            <a href="http://qd.ygjj.com/T549361.html" target="_blank">
                                梁教员（男）<span class="col2">18008</span>
                            </a>
                            <p>
                                合肥工业大学
                                <br> <span class="cf60">在校大二学生</span>
                            </p>
                        </li>
                    </ul>
                    <div class="clear10">
                    </div>
                    <ul>
                        <li class="c1">
                            <a href="http://qd.ygjj.com/T544325.html" target="_blank">
                                <img src="_TeacherNotice_files/head544325-20160518110101382178.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                            </a>
                        </li>
                        <li class="c2">
                            <a href="http://qd.ygjj.com/T544325.html" target="_blank">
                                徐教员（男）<span class="col2">17967</span>
                            </a>
                            <p>
                                华东理工大学
                                <br> <span class="cf60">实验员</span>
                            </p>
                        </li>
                    </ul>
                    <div class="clear10">
                    </div>
                    <ul>
                        <li class="c1">
                            <a href="http://qd.ygjj.com/T540977.html" target="_blank">
                                <img src="_TeacherNotice_files/head540977-20160308233443300846.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                            </a>
                        </li>
                        <li class="c2">
                            <a href="http://qd.ygjj.com/T540977.html" target="_blank">
                                刘教员（女）<span class="col2">17924</span>
                            </a>
                            <p>
                                青岛大学
                                <br> <span class="cf60">在校大四学生</span>
                            </p>
                        </li>
                    </ul>
                    <div class="clear10">
                    </div>
                    <ul>
                        <li class="c1">
                            <a href="http://qd.ygjj.com/T541913.html" target="_blank">
                                <img src="_TeacherNotice_files/head541913-20160329071201657450.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                            </a>
                        </li>
                        <li class="c2">
                            <a href="http://qd.ygjj.com/T541913.html" target="_blank">
                                赵老师（女）<span class="col2">17937</span>
                            </a>
                            <p>
                                非本市 中等院校
                                <br> <span class="cf60">离职初中教师</span>
                            </p>
                        </li>
                    </ul>
                    <div class="clear10">
                    </div>
                </div>
            </div>
            <div class="clear10">
            </div>
            <div class="wa_jjwz">
                <div class="tit">常见问题</div>
                <div class="content">
                    <ul>
                        <li><a href="http://qd.ygjj.com/D6045.html" target="_blank" title="找家教的六大误区">找家教的六大误区</a></li>
                        <li><a href="http://qd.ygjj.com/D4440.html" target="_blank" title="正确理解交际教学思想">正确理解交际教学思想</a></li>
                        <li><a href="http://qd.ygjj.com/D4428.html" target="_blank" title="“名人签名”作文教学法">“名人签名”作文教学法</a></li>
                        <li><a href="http://qd.ygjj.com/D4390.html" target="_blank" title="怎样快速请到家教老师">怎样快速请到家教老师</a></li>
                        <li><a href="http://qd.ygjj.com/D2601.html" target="_blank" title="无法查看教员联系方式">无法查看教员联系方式</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear10"></div>

            <div class="wa_jjwz">
                <div class="tit">教材</div>
                <div class="content">
                    <ul>
                        <li><a href="http://qd.ygjj.com/D435564.html" target="_blank" title="电子课本【四年级数学上册】（北师大2013版）">电子课本【四年级数学上册】（北师大2013版）</a></li>
                        <li><a href="http://qd.ygjj.com/D435450.html" target="_blank" title="电子课本【三年级数学下册】（北师大2013版）">电子课本【三年级数学下册】（北师大2013版）</a></li>
                        <li><a href="http://qd.ygjj.com/D435349.html" target="_blank" title="电子课本【三年级数学上册】（北师大2013版）">电子课本【三年级数学上册】（北师大2013版）</a></li>
                        <li><a href="http://qd.ygjj.com/D435247.html" target="_blank" title="电子课本【二年级数学下册】（北师大2013版）">电子课本【二年级数学下册】（北师大2013版）</a></li>
                        <li><a href="http://qd.ygjj.com/D435150.html" target="_blank" title="电子课本【二年级数学上册】（北师大2013版）">电子课本【二年级数学上册】（北师大2013版）</a></li>

                    </ul>
                </div>
            </div>
            <div class="clear10"></div>

            <div class="wa_jjwz">
                <div class="tit">试题</div>
                <div class="content">
                    <ul>
                        <li><a href="http://qd.ygjj.com/D435585.html" target="_blank" title="2015学年八年级（初二）数学第一学期期中试题（人教版）">2015学年八年级（初二）数学第一学期期中试题（人教版）</a></li>

                        <li><a href="http://qd.ygjj.com/D435579.html" target="_blank" title="2015学年七年级（初一）数学第二学期期末试题（人教版）">2015学年七年级（初一）数学第二学期期末试题（人教版）</a></li>

                        <li><a href="http://qd.ygjj.com/D435578.html" target="_blank" title="七年级（初一）数学第二学期期中试题（人教版）">七年级（初一）数学第二学期期中试题（人教版）</a></li>

                        <li><a href="http://qd.ygjj.com/D435540.html" target="_blank" title="2015学年七年级（初一）数学第一学期期末试题（人教版）">2015学年七年级（初一）数学第一学期期末试题（人教版）</a></li>

                        <li><a href="http://qd.ygjj.com/D435339.html" target="_blank" title="2015学年七年级（初一）数学第一学期期中试题（人教版）">2015学年七年级（初一）数学第一学期期中试题（人教版）</a></li>

                    </ul>
                </div>
            </div>
            <div class="clear10"></div>
            <div class="wa_jjwz">
                <div class="tit">资讯</div>
                <div class="content">
                    <ul>

                        <li><a href="http://qd.ygjj.com/D421743.html" target="_blank" title="买学区房，上名校，精英教育这条路，我们要去挤吗？">买学区房，上名校，精英教育这条路，我们要去挤吗？</a></li>

                        <li><a href="http://qd.ygjj.com/D421627.html" target="_blank" title="中小学语文教材将大幅修改">中小学语文教材将大幅修改</a></li>

                        <li><a href="http://qd.ygjj.com/D421603.html" target="_blank" title="高考倒计时14天：考场上10个细节做到速提50分">高考倒计时14天：考场上10个细节做到速提50分</a></li>

                        <li><a href="http://qd.ygjj.com/D421543.html" target="_blank" title="IB成绩应该如何换算成GPA？">IB成绩应该如何换算成GPA？</a></li>

                        <li><a href="http://qd.ygjj.com/D421450.html" target="_blank" title="孩子不会写作文？掌握这些词语，作文轻松搞定！">孩子不会写作文？掌握这些词语，作文轻松搞定！</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </font>
</div>
