
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="bread">
    <div class="dh">
        当前位置：<a href="http://qd.ygjj.com/">首页</a> &gt; 家教学堂
    </div>
    <div class="fx">

        <!-- Baidu Button BEGIN -->
        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1478162777273">
            <a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina">
            </a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a><a class="bds_count" data-cmd="count" title="累计分享0次">0</a>

        </div>
        <script type="text/javascript">    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
        <!-- Baidu Button END -->
    </div>
</div>
<div class="wenan">
    <div class="wa_lefts">
        <div class="wa_list">
            <div class="lstit">
                <div class="tit">
                    <span>
                        常见问题
                    </span>
                </div>
            </div>
            <div class="clear10">
                &nbsp;
            </div>
            <div class="lstcon">
                <div class="con">
                    <div class="wa_title">
                        <h1>
                            教员注册协议
                        </h1>
                    </div>
                    <div class="wa_info">
                        <span class="f1"></span><span class="f1">来源于：</span><span class="f1">浏览次数：19781次</span>
                    </div>
                    <div id="txt" class="wa_des">
                        <p>
                            1. 教员必须是具有国家高等教育学历招生资格的高等院校大学生、研究生或同等资历的毕业生、工作人员，国家正规注册的专职教师等人员。 <br>
                            2. 教员需提供真实的个人信息，分步骤填写好自己的全部真实资料并接受审核。家教信息审核通过后，将在教员库中显示，影响教员库排序的因素包括但不限于：会员类型、个人简历内容、登陆频率、额度情况等。 <br>
                            3. 阳光家教网的注册用户，需执行同意的事项，如有违反，将承担经济或法律责任。 <br>
                            4.注册会员保证所填信息真实有效，如因信息不实而引起的各种不良事宜，一律自行承担全部责任。 <br>
                            5.教员首次上门授课应携同意出示的证件。 <br>
                            6. 教员必须信守职业道德，为人师表，谈吐得体，耐心传授，处理好与学员、家长的关系。教员在做家教之前应慎重考虑自身状况，如课程、时间、经验、薪资及自己在考试复习期间是否会影响正常教学等。 <br>
                            7.教员应经常更新简历，更新可授课时间，以免因时间问题发生家教矛盾。 <br>
                            8. 教员应认真备课，为学员拟定配套的教学计划，授课应准时赴约，并充分利用教学时间。 <br>
                            9. 阳光家教内部系统规则、礼券规则以及积分规则可能会根据网站发展及用户需求发生变化。请教员对网站保持关注。 <br>
                            10. 对教员的通知短信是由系统自动发出，达到率95%以上，个别由于运营商或手机等问题无法收到短信的，阳光家教无责任，阳光家教无法保证短信百分百到达，请家教时常登陆网站查看最新信息。 <br>
                            11. 未经阳光家教允许，家教不可介绍其他家教给阳光家教注册的家长，否则发现后封号处理。 <br>
                            12. 未经阳光家教允许，多个教员不得使用同一账号，一经发现封号处理。 <br>
                            13. 阳光家教网仅负责提供家教信息，不承担家教信息以外的其它任何责任。&nbsp;<br>
                            <br>
                            <br>
                            <strong>一旦成为我们的教员，保证不隐瞒信息，如有不实，责任完全由教员自行承担责任。 </strong>
                        </p>
                    </div>
                    <div class="wa_zan" style="display: block">
                        <div id="UpdatePanel1">

                            <a id="btnGood" class="btn" href="javascript:__doPostBack('btnGood','')"><font>722</font></a>
                            <a id="btnBad" class="btn btn2" href="javascript:__doPostBack('btnBad','')"><font>45</font></a>

                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="clear20">
                    </div>
                    <div class="wa_prevnext">
                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <th>
                                        上一篇
                                    </th>
                                    <td>
                                        <a href="http://qd.ygjj.com/D7177.html" class="link2">签约教员变更公告</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        下一篇
                                    </th>
                                    <td>
                                        <a href="http://qd.ygjj.com/D2026.html" class="link2">教员为什么要身份认证</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear20">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wa_rights">
        <div class="qtxgjjBox">
            <div class="tit">
                您可能感兴趣的教员
            </div>
            <div class="content3">
                <ul>
                    <li class="c1">
                        <a href="http://qd.ygjj.com/T542033.html" target="_blank">
                            <img src="_TeacherRegisterProtocol_files/head542033-20160330202954454412.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                        </a>
                    </li>
                    <li class="c2">
                        <a href="http://qd.ygjj.com/T542033.html" target="_blank">
                            戴教员（男）<span class="col2">17943</span>
                        </a>
                        <p>
                            青岛科技大学
                            <br> <span class="cf60">在校大三学生</span>
                        </p>
                    </li>
                </ul>
                <div class="clear10">
                </div>
                <ul>
                    <li class="c1">
                        <a href="http://qd.ygjj.com/T541383.html" target="_blank">
                            <img src="_TeacherRegisterProtocol_files/head541383-20160317162905625107.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                        </a>
                    </li>
                    <li class="c2">
                        <a href="http://qd.ygjj.com/T541383.html" target="_blank">
                            杨教员（男）<span class="col2">17927</span>
                        </a>
                        <p>
                            中国石油大学
                            <br> <span class="cf60">在校大四学生</span>
                        </p>
                    </li>
                </ul>
                <div class="clear10">
                </div>
                <ul>
                    <li class="c1">
                        <a href="http://qd.ygjj.com/T542962.html" target="_blank">
                            <img src="_TeacherRegisterProtocol_files/head542962-20160417213357615362.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                        </a>
                    </li>
                    <li class="c2">
                        <a href="http://qd.ygjj.com/T542962.html" target="_blank">
                            井教员（男）<span class="col2">17956</span>
                        </a>
                        <p>
                            青岛工学院
                            <br> <span class="cf60">在校大二学生</span>
                        </p>
                    </li>
                </ul>
                <div class="clear10">
                </div>
                <ul>
                    <li class="c1">
                        <a href="http://qd.ygjj.com/T541834.html" target="_blank">
                            <img src="_TeacherRegisterProtocol_files/head541834-20160327205718941459.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                        </a>
                    </li>
                    <li class="c2">
                        <a href="http://qd.ygjj.com/T541834.html" target="_blank">
                            魏教员（男）<span class="col2">17933</span>
                        </a>
                        <p>
                            青岛大学
                            <br> <span class="cf60"></span>
                        </p>
                    </li>
                </ul>
                <div class="clear10">
                </div>
                <ul>
                    <li class="c1">
                        <a href="http://qd.ygjj.com/T545247.html" target="_blank">
                            <img src="_TeacherRegisterProtocol_files/head545247-20160608231240377473.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                        </a>
                    </li>
                    <li class="c2">
                        <a href="http://qd.ygjj.com/T545247.html" target="_blank">
                            王教员（男）<span class="col2">17976</span>
                        </a>
                        <p>
                            青岛大学
                            <br> <span class="cf60">律师</span>
                        </p>
                    </li>
                </ul>
                <div class="clear10">
                </div>
                <ul>
                    <li class="c1">
                        <a href="http://qd.ygjj.com/T534888.html" target="_blank">
                            <img src="_TeacherRegisterProtocol_files/tx_1.jpg" data-bd-imgshare-binded="1" border="0">
                        </a>
                    </li>
                    <li class="c2">
                        <a href="http://qd.ygjj.com/T534888.html" target="_blank">
                            江教员（女）<span class="col2">17876</span>
                        </a>
                        <p>
                            青岛大学
                            <br> <span class="cf60">毕业生</span>
                        </p>
                    </li>
                </ul>
                <div class="clear10">
                </div>
                <ul>
                    <li class="c1">
                        <a href="http://qd.ygjj.com/T552049.html" target="_blank">
                            <img src="_TeacherRegisterProtocol_files/head552049-20160904170339259812.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                        </a>
                    </li>
                    <li class="c2">
                        <a href="http://qd.ygjj.com/T552049.html" target="_blank">
                            尚教员（男）<span class="col2">18031</span>
                        </a>
                        <p>
                            青岛大学
                            <br> <span class="cf60">在读硕士生</span>
                        </p>
                    </li>
                </ul>
                <div class="clear10">
                </div>
                <ul>
                    <li class="c1">
                        <a href="http://qd.ygjj.com/T540782.html" target="_blank">
                            <img src="_TeacherRegisterProtocol_files/head540782-20160305210427734480.jpg" data-bd-imgshare-binded="1" width="74" border="0">
                        </a>
                    </li>
                    <li class="c2">
                        <a href="http://qd.ygjj.com/T540782.html" target="_blank">
                            李教员（女）<span class="col2">17922</span>
                        </a>
                        <p>
                            中国海洋大学
                            <br> <span class="cf60">在校大四学生</span>
                        </p>
                    </li>
                </ul>
                <div class="clear10">
                </div>
            </div>
        </div>
        <div class="clear10">
        </div>
        <div class="wa_jjwz">
            <div class="tit">常见问题</div>
            <div class="content">
                <ul>
                    <li><a href="http://qd.ygjj.com/D6045.html" target="_blank" title="找家教的六大误区">找家教的六大误区</a></li>
                    <li><a href="http://qd.ygjj.com/D4440.html" target="_blank" title="正确理解交际教学思想">正确理解交际教学思想</a></li>
                    <li><a href="http://qd.ygjj.com/D4428.html" target="_blank" title="“名人签名”作文教学法">“名人签名”作文教学法</a></li>
                    <li><a href="http://qd.ygjj.com/D4390.html" target="_blank" title="怎样快速请到家教老师">怎样快速请到家教老师</a></li>
                    <li><a href="http://qd.ygjj.com/D2601.html" target="_blank" title="无法查看教员联系方式">无法查看教员联系方式</a></li>
                </ul>
            </div>
        </div>
        <div class="clear10"></div>

        <div class="wa_jjwz">
            <div class="tit">教材</div>
            <div class="content">
                <ul>
                    <li><a href="http://qd.ygjj.com/D435564.html" target="_blank" title="电子课本【四年级数学上册】（北师大2013版）">电子课本【四年级数学上册】（北师大2013版）</a></li>
                    <li><a href="http://qd.ygjj.com/D435450.html" target="_blank" title="电子课本【三年级数学下册】（北师大2013版）">电子课本【三年级数学下册】（北师大2013版）</a></li>
                    <li><a href="http://qd.ygjj.com/D435349.html" target="_blank" title="电子课本【三年级数学上册】（北师大2013版）">电子课本【三年级数学上册】（北师大2013版）</a></li>
                    <li><a href="http://qd.ygjj.com/D435247.html" target="_blank" title="电子课本【二年级数学下册】（北师大2013版）">电子课本【二年级数学下册】（北师大2013版）</a></li>
                    <li><a href="http://qd.ygjj.com/D435150.html" target="_blank" title="电子课本【二年级数学上册】（北师大2013版）">电子课本【二年级数学上册】（北师大2013版）</a></li>
                </ul>
            </div>
        </div>
        <div class="clear10"></div>

        <div class="wa_jjwz">
            <div class="tit">试题</div>
            <div class="content">
                <ul>
                    <li><a href="http://qd.ygjj.com/D435585.html" target="_blank" title="2015学年八年级（初二）数学第一学期期中试题（人教版）">2015学年八年级（初二）数学第一学期期中试题（人教版）</a></li>
                    <li><a href="http://qd.ygjj.com/D435579.html" target="_blank" title="2015学年七年级（初一）数学第二学期期末试题（人教版）">2015学年七年级（初一）数学第二学期期末试题（人教版）</a></li>
                    <li><a href="http://qd.ygjj.com/D435578.html" target="_blank" title="七年级（初一）数学第二学期期中试题（人教版）">七年级（初一）数学第二学期期中试题（人教版）</a></li>
                    <li><a href="http://qd.ygjj.com/D435540.html" target="_blank" title="2015学年七年级（初一）数学第一学期期末试题（人教版）">2015学年七年级（初一）数学第一学期期末试题（人教版）</a></li>
                    <li><a href="http://qd.ygjj.com/D435339.html" target="_blank" title="2015学年七年级（初一）数学第一学期期中试题（人教版）">2015学年七年级（初一）数学第一学期期中试题（人教版）</a></li>
                </ul>
            </div>
        </div>
        <div class="clear10"></div>
        <div class="wa_jjwz">
            <div class="tit">资讯</div>
            <div class="content">
                <ul>
                    <li><a href="http://qd.ygjj.com/D421743.html" target="_blank" title="买学区房，上名校，精英教育这条路，我们要去挤吗？">买学区房，上名校，精英教育这条路，我们要去挤吗？</a></li>
                    <li><a href="http://qd.ygjj.com/D421627.html" target="_blank" title="中小学语文教材将大幅修改">中小学语文教材将大幅修改</a></li>
                    <li><a href="http://qd.ygjj.com/D421603.html" target="_blank" title="高考倒计时14天：考场上10个细节做到速提50分">高考倒计时14天：考场上10个细节做到速提50分</a></li>
                    <li><a href="http://qd.ygjj.com/D421543.html" target="_blank" title="IB成绩应该如何换算成GPA？">IB成绩应该如何换算成GPA？</a></li>
                    <li><a href="http://qd.ygjj.com/D421450.html" target="_blank" title="孩子不会写作文？掌握这些词语，作文轻松搞定！">孩子不会写作文？掌握这些词语，作文轻松搞定！</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
