@{ 
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-lg-2">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-user fa-4x"></i>
                <h1 class="m-xs">0</h1>
                <h3 class="font-bold no-margins">
                    学员
                </h3>
                <small>最近30天内新增: 0</small>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-user fa-4x"></i>
                <h1 class="m-xs">0</h1>
                <h3 class="font-bold no-margins">
                    教员
                </h3>
                <small>最近30天内新增: 0</small>
            </div>
        </div>
    </div>
</div>