
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="containerBox">
    <!--container-->
    <div class="container">
        <!--bread-->
        <div class="bread">
            <div class="dh">
                当前位置：<a href="">首页</a> &gt; 资费标准
            </div>
            <div class="fx">

                <!-- Baidu Button BEGIN -->
                <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1477322351502">
                    <a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina">
                    </a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a><a class="bds_count" data-cmd="count" title="累计分享2次">2</a>

                </div>
                <script type="text/javascript">    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                <!-- Baidu Button END -->

            </div>
        </div>
        <!--end bread-->
        <div class="telst">
            <div class="ksf_lstita">
                <div class="ksf_lstit">
                    <div class="tit">
                        <span>阳光家教网课时费标准（单位：元/小时）</span>
                    </div>
                </div>
                <div class="clear10">
                </div>

                <div class="kc_list_con">
                    <div class="Tit">
                        青岛学龄前/中小学文化课家教价格（中文版）
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr class="r2">
                                    <td>
                                        年级/类别
                                    </td>
                                    <td>
                                        大学生家教价格
                                    </td>
                                    <td>
                                        签约大学生家教价格
                                    </td>
                                    <td>
                                        专职教师家教价格
                                    </td>
                                    <td>
                                        签约专职教师家教价格
                                    </td>
                                    <td>
                                        在职教师家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        幼儿
                                    </td>
                                    <td>
                                        25
                                    </td>
                                    <td></td>
                                    <td>
                                        40-60
                                    </td>
                                    <td></td>
                                    <td>
                                        50
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        小学
                                    </td>
                                    <td>
                                        25-30
                                    </td>
                                    <td></td>
                                    <td>
                                        40-60
                                    </td>
                                    <td></td>
                                    <td>
                                        50-60
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        初一初二
                                    </td>
                                    <td>
                                        30
                                    </td>
                                    <td></td>
                                    <td>
                                        50-70
                                    </td>
                                    <td></td>
                                    <td>
                                        60-70
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        初三
                                    </td>
                                    <td>
                                        30-35
                                    </td>
                                    <td></td>
                                    <td>
                                        60-70
                                    </td>
                                    <td></td>
                                    <td>
                                        70-90
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        高一高二
                                    </td>
                                    <td>
                                        30-35
                                    </td>
                                    <td></td>
                                    <td>
                                        50-70
                                    </td>
                                    <td></td>
                                    <td>
                                        70-90
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        高三
                                    </td>
                                    <td>
                                        35-40
                                    </td>
                                    <td></td>
                                    <td>
                                        60-70
                                    </td>
                                    <td></td>
                                    <td>
                                        80-100
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>

                <div class="kc_list_con">
                    <div class="Tit">
                        青岛奥数/数理化竞赛/计算机竞赛家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr class="r2">
                                    <td>
                                        年级/类别
                                    </td>
                                    <td>
                                        大学生家教价格
                                    </td>
                                    <td>
                                        专职教师家教价格
                                    </td>
                                    <td>
                                        在职教师家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        小学
                                    </td>
                                    <td>
                                        30
                                    </td>
                                    <td>
                                        30-40
                                    </td>
                                    <td>
                                        40-50
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        初中
                                    </td>
                                    <td>
                                        35
                                    </td>
                                    <td>
                                        40-60
                                    </td>
                                    <td>
                                        60-80
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        高中
                                    </td>
                                    <td>
                                        40
                                    </td>
                                    <td>
                                        60-80
                                    </td>
                                    <td>
                                        80-100
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="clear20">
                </div>

                <div class="kc_list_con">
                    <div class="Tit">
                        青岛寒暑假文化课包月（陪读/陪玩，包午餐，有双休，8小时/天；单位：元/月）家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr class="r2">
                                    <td>
                                        年级/类别
                                    </td>
                                    <td>
                                        大学生家教价格
                                    </td>
                                    <td>
                                        专职教师家教价格
                                    </td>
                                    <td>
                                        在职教师家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        幼儿、小学
                                    </td>
                                    <td>
                                        1000以上
                                    </td>
                                    <td>
                                        1500以上
                                    </td>
                                    <td>
                                        2500以上
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        初、高中
                                    </td>
                                    <td>
                                        1200以上
                                    </td>
                                    <td>
                                        2000以上
                                    </td>
                                    <td>
                                        3200以上
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛寒暑假文化课包月（陪读/陪玩，不包午餐，有双休，上午或下午 4小时/天；单位：元/月）家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr class="r2">
                                    <td>
                                        年级/类别
                                    </td>
                                    <td>
                                        大学生家教价格
                                    </td>
                                    <td>
                                        专职教师家教价格
                                    </td>
                                    <td>
                                        在职教师家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        幼儿、小学
                                    </td>
                                    <td>
                                        700以
                                    </td>
                                    <td>
                                        1100以上
                                    </td>
                                    <td>
                                        1500以上
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        初、高中
                                    </td>
                                    <td>
                                        900以上
                                    </td>
                                    <td>
                                        1200以上
                                    </td>
                                    <td>
                                        1800以上
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛寒暑假文化课包月（陪读/陪玩，学员提供食宿，有单休；单位：元/月）家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr class="r2">
                                    <td>
                                        年级/类别
                                    </td>
                                    <td>
                                        大学生家教价格
                                    </td>
                                    <td>
                                        专职教师家教价格
                                    </td>
                                    <td>
                                        在职教师家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        幼儿、小学
                                    </td>
                                    <td>
                                        700以上
                                    </td>
                                    <td>
                                        1100以上
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        初、高中
                                    </td>
                                    <td>
                                        1000以上
                                    </td>
                                    <td>
                                        1300以上
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛寒暑假文化课包月全托（学员托管在教员家，教员提供食宿，有双休；单位：元/月）家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">
                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr class="r2">
                                    <td>
                                        年级/类别
                                    </td>
                                    <td>
                                        大学生家教价格
                                    </td>
                                    <td>
                                        专职教师家教价格
                                    </td>
                                    <td>
                                        在职教师家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        幼儿、小学
                                    </td>
                                    <td>
                                        1200以上
                                    </td>
                                    <td>
                                        1600以上
                                    </td>
                                    <td>
                                        2000以上
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        初、高中
                                    </td>
                                    <td>
                                        1500以上
                                    </td>
                                    <td>
                                        2000以上
                                    </td>
                                    <td>
                                        2500以上
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛成人英语、日语、中文（英日）/英语口语/英语四六级/商务英语家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">

                            <tbody>
                                <tr>
                                    <td>
                                        40-50
                                    </td>
                                    <td>
                                        非该语种专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        50-60
                                    </td>
                                    <td>
                                        该语种专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        70-90
                                    </td>
                                    <td>
                                        留学归国人员家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        150以上
                                    </td>
                                    <td>
                                        外国留学生，外籍教师家教价格
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛法语、德语、韩语家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">

                            <tbody>
                                <tr>
                                    <td>
                                        30-50
                                    </td>
                                    <td>
                                        非该语种专业大学生家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        50-80
                                    </td>
                                    <td>
                                        该语种专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        80-110
                                    </td>
                                    <td>
                                        留学归国人员家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        110-170
                                    </td>
                                    <td>
                                        外国留学生，外籍教师家教价格
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛俄语、意大利语、西班牙语、阿拉伯语家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">
                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        40-60
                                    </td>
                                    <td>
                                        非该语种专业大学生家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        60-100
                                    </td>
                                    <td>
                                        该语种专业大学生家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        100-170
                                    </td>
                                    <td>
                                        留学归国人员家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        170-250
                                    </td>
                                    <td>
                                        外国留学生，外籍教师家教价格
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛钢琴、电子琴家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">
                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        40-50
                                    </td>
                                    <td>
                                        非该专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        50-60
                                    </td>
                                    <td>
                                        普通院校该专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        70-90
                                    </td>
                                    <td>
                                        音乐学院该专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        80-100
                                    </td>
                                    <td>
                                        10年以内教龄专职音乐教师家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        110以上
                                    </td>
                                    <td>
                                        大学音乐教师、10年以上教龄专职音乐教师家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        家教价格
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛其它乐器（古筝、小提琴、吉他、长笛、二胡...）家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">

                            <tbody>
                                <tr>
                                    <td>
                                        50-70
                                    </td>
                                    <td>
                                        非该专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        60-100
                                    </td>
                                    <td>
                                        该专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        90-150
                                    </td>
                                    <td>
                                        专职音乐教师家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        110以上
                                    </td>
                                    <td>
                                        乐团专业演奏员家教价格
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>

                <div class="kc_list_con">
                    <div class="Tit">
                        青岛棋类（围棋、象棋...）家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">

                            <tbody>
                                <tr>
                                    <td>
                                        40-60
                                    </td>
                                    <td>
                                        普通大学生家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        70-90
                                    </td>
                                    <td>
                                        有相关等级证书大学生家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        80-120
                                    </td>
                                    <td>
                                        专业人士家教价格
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛美术（素描、色彩、水粉、水彩、国画...）、书法、摄影家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">

                            <tbody>
                                <tr>
                                    <td>
                                        40-60
                                    </td>
                                    <td>
                                        非该专业大学生家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        70-90
                                    </td>
                                    <td>
                                        该专业大学生家教价格
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        90-120
                                    </td>
                                    <td>
                                        专职美术教师家教价格
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛体育类（网球、羽毛球、篮球、足球、游泳等体育项目）家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">

                        <table width="100%" cellspacing="1" cellpadding="0" border="0">

                            <tbody>
                                <tr>
                                    <td>
                                        30-40
                                    </td>
                                    <td>
                                        非该专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        50-60
                                    </td>
                                    <td>
                                        该专业大学生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        60-100
                                    </td>
                                    <td>
                                        专业人士家教价格
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
                <div class="kc_list_con">
                    <div class="Tit">
                        青岛成人高考课程/高等数学/计算机操作/网页设计/图像处理/程序设计类家教价格
                    </div>
                    <div class="clear">
                    </div>
                    <div class="con">
                        <table width="100%" cellspacing="1" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        30-50
                                    </td>
                                    <td>
                                        大学生/研究生家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        60-120
                                    </td>
                                    <td>
                                        专业教师/专业人家教价格
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        家教价格
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear20">
                </div>
            </div>
        </div>
    </div>
    <!--idx end container-->
    <div class="clear20">
    </div>
</div>

