<div class="help">
    <div class="tit">
        帮助中心
    </div>
    <div class="content">
        <ul>
            <li><a href="http://qd.ygjj.com/Cost" target="_blank" title="阳光家教网收费标准"><font color="#ff00cc">阳光家教网收费标准</font></a></li>

            <li>
                <a href="http://qd.ygjj.com/D6045.html">
                    找家教的六大误区
                </a>
            </li>

            <li>
                <a href="http://qd.ygjj.com/D4440.html">
                    正确理解交际教学思想
                </a>
            </li>

            <li>
                <a href="http://qd.ygjj.com/D4428.html">
                    “名人签名”作文教学法
                </a>
            </li>

            <li>
                <a href="http://qd.ygjj.com/D4390.html">
                    怎样快速请到家教老师
                </a>
            </li>

            <li>
                <a href="http://qd.ygjj.com/D2601.html">
                    无法查看教员联系方式
                </a>
            </li>

            <li>
                <a href="http://qd.ygjj.com/D2555.html">
                    教员为什么要身份认证
                </a>
            </li>

            <li>
                <a href="http://qd.ygjj.com/D2509.html">
                    如何发布家教信息
                </a>
            </li>

        </ul>
    </div>
</div>