<div class="zcjy">
    <div class="tit">
        最新注册教员
    </div>
    <div class="content">

        <ul>
            <a href="http://qd.ygjj.com/T555364.html">
                <li class="c1">
                    10-26
                </li>
                <li class="c2">
                    方教员
                </li>
                <li class="c3">
                    其他教员
                </li>
            </a>
        </ul>

        <ul>
            <a href="http://qd.ygjj.com/T555098.html">
                <li class="c1">
                    10-21
                </li>
                <li class="c2">
                    曲教员
                </li>
                <li class="c3">
                    在校教员
                </li>
            </a>
        </ul>

        <ul>
            <a href="http://qd.ygjj.com/T555084.html">
                <li class="c1">
                    10-21
                </li>
                <li class="c2">
                    仇教员
                </li>
                <li class="c3">
                    专职教员
                </li>
            </a>
        </ul>

        <ul>
            <a href="http://qd.ygjj.com/T555037.html">
                <li class="c1">
                    10-19
                </li>
                <li class="c2">
                    李教员
                </li>
                <li class="c3">
                    其他教员
                </li>
            </a>
        </ul>

        <ul>
            <a href="http://qd.ygjj.com/T554937.html">
                <li class="c1">
                    10-17
                </li>
                <li class="c2">
                    王教员
                </li>
                <li class="c3">
                    在校教员
                </li>
            </a>
        </ul>

        <ul>
            <a href="http://qd.ygjj.com/T554921.html">
                <li class="c1">
                    10-17
                </li>
                <li class="c2">
                    秦教员
                </li>
                <li class="c3">
                    在校教员
                </li>
            </a>
        </ul>

        <ul>
            <a href="http://qd.ygjj.com/T554920.html">
                <li class="c1">
                    10-17
                </li>
                <li class="c2">
                    孙教员
                </li>
                <li class="c3">
                    在校教员
                </li>
            </a>
        </ul>

        <ul>
            <a href="http://qd.ygjj.com/T554868.html">
                <li class="c1">
                    10-16
                </li>
                <li class="c2">
                    高教员
                </li>
                <li class="c3">
                    在校教员
                </li>
            </a>
        </ul>

    </div>
</div>
